version: '3.8'

services:
    db:
        container_name: ac_m_db
        image: mysql:5.7
        ports:
            - 3306:3306
        volumes:
            - ./docker/db/my.cnf:/etc/mysql/conf.d/my.cnf  #MySQL設定ファイル
            - ./docker/db/data:/var/lib/mysql #MySQLデータ
        environment:
            - MYSQL_DATABASE=${DB_NAME}
            - MYSQL_USER=${DB_USER}
            - MYSQL_PASSWORD=${DB_PASS}
            - MYSQL_ROOT_PASSWORD=${DB_PASS}
            - TZ=${TZ}
        command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci # 文字コード指定